# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

# Challenge 2
This is a placeholder to make the AI corrector be able to find the correct exercise for feedback

# Challenge 3 - Constructing Confidence Intervals

We will test whether the hourly wage of all hourly workers is significantly different from $30/hr.

In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. Is $30/hr within that interval?

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [9]:
salaries["Hourly Rate"].isna().sum()

np.int64(25161)

In [11]:
hourly = salaries['Hourly Rate'].dropna()
mean = np.mean(hourly)
standard_error = sem(hourly)
df_degrees = len(hourly)-1
confidence_interval = t.interval(
    0.95,
    df=df_degrees,
    loc=mean,
    scale=standard_error)
confidence_interval

(np.float64(32.52345834488425), np.float64(33.05365708767623))

This is fine if we have thousands of worker data. But what if we have only 100 workers data?

Sample 100 workers and re-construct the 95% confidence interval. Is the interval wider of narrower? And why?
Do you still encapsulate the $30/hr mark in this case?

In [15]:
sample_100 = hourly.sample(n=100, random_state =42)
mean_100 = np.mean(sample_100)
standard_error_100 = sem(sample_100)
df_100 = len(sample_100) - 1

confidence_interval_100 = t.interval(
    0.95,
    df=df_100,
    loc = mean_100,
    scale = standard_error_100
)

confidence_interval_100

(np.float64(30.827892373813775), np.float64(36.08270762618624))

WIDER
When N decreases, standard error increases. When sample amount decreases, there is a higher probability to be wrong in our precisition in guessing the mean. Because we have less certainty our confidence interval gets wider, to allow for the added uncertainty.

30 dollars is not contained in the confidence interval, so we do not encapsulate the 30 dollars/hr mark, as this suggest the true mean differs significantly from $30